header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 120px;
  z-index: 10;
}
.header__left {
  flex: 3;
}
.header__right {
  flex: 1;
}
.logo {
  width: 160px;
}
.links {
  column-gap: 35px;
}
.links a {
  position: relative;
  font-size: 16px;
  transition: .3s ease;
  font-weight: 400;
  letter-spacing: 1.6px;
}
.links a::after {
  content: '';
  position: absolute;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: var(--orange);
  left: 0;
  border-radius: 10px;
  transition: .3s ease;
}
.links a:hover::after {
  width: 100%;
}
.links a:hover {
  color: var(--orange);
}
.header__right a {
  padding: 12px 24px;
  background-color: #fff;
  color: #000;
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  transition: .3s ease;
}
.header__right a:hover {
  color: #fff;
  background-color: var(--darkGrey);
}